h4 {
    padding-left: 40%;
}

form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 70px;
}

label {
    display: flex;
    font-size: 18px;
    flex-direction: column;
}

input {
    height: 30px;
    font-size: 14px;
    padding-left: 5px;
}

select {
    height: 30px;
    font-size: 14px;
}