.header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 50px;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 2%;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 10%;
}

.logo img {
    width: 150px;
    height: 70px;
}

.navbar {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: 510;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: rgb(246, 190, 141);
    border-radius: 30%;
}

.active {
    background-color: rgb(246, 190, 141);
    border-radius: 30%;
}

.header-right button {
    font-family: 'Merriweather', serif;
    outline: 0;
    background: rgb(245, 172, 107);
    width: 100%;
    border: 0;
    padding: 8px;
    cursor: pointer;
}

.header-right button:hover {
    font-weight: 600;
    background: rgb(241, 158, 86);
}